<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<cxf:bus>
		<cxf:features>
			<cxf:logging />
			<cxf:fastinfoset />
		</cxf:features>

		<!-- make exception message understandable -->
		<cxf:outFaultInterceptors>
			<bean class="com.abc.bt.common.ws.interceptor.OutFaultInterceptor" />
		</cxf:outFaultInterceptors>

		<!-- compress the exchange data size -->
		<cxf:inInterceptors>
			<bean class="org.apache.cxf.transport.common.gzip.GZIPInInterceptor" />
			<bean class=" org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="UsernameToken" />
						<entry key="passwordType" value="PasswordDigest" />
						<entry key="passwordCallbackRef">
							<bean class="com.abc.bt.common.ws.auth.ServerAuthCallback" />
						</entry>
					</map>
				</constructor-arg>
			</bean>
		</cxf:inInterceptors>
		
		<cxf:outInterceptors>
			<bean class="org.apache.cxf.transport.common.gzip.GZIPOutInterceptor" />
		</cxf:outInterceptors>

		<cxf:properties>
			<!-- Boolean property specifying if the name of the exception that caused the Java stack trace is returned. -->
			<entry key="exceptionMessageCauseEnabled" value="true" />

			<!-- Boolean property specifying if the Java stack trace is returned as a SOAP fault message. -->
			<entry key="faultStackTraceEnabled" value="false" />
		</cxf:properties>

	</cxf:bus>

	<jaxws:endpoint id="sampleEndpoint" implementor="#sampleEndpointImplementor" address="/SampleService" />

</beans>
